<h1>The Latest Music News</h1>

{{#each results}}
<div data-id="{{this._id}}">
    <h3>{{@index}}</h3>
    <a href={{this.link}}>
        <h2> {{this.article}}</h2>
    </a>

    {{!-- <p>{{this.link}}</p> --}}
    {{#each this.comments}}

    <p data-id="{{@index}}">{{this}}<span class="clickable" onclick="remove"> x</span></p>

    {{/each}}
    <form action="/comments" method="post">
        {{!-- <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Comment</label>
            <input type="text" class="form-control" name="comment" placeholder="Comment here...">
        </div> --}}
        Comment: <input class="write" type="text" name="comment" /><br />
        {{!-- <button type="submit" class="btn btn-primary mb-2 write">Submit</button> --}}
        <input type="submit" name="submit" value="Submit" />
        <input type="hidden" name="link" value={{this.link}} />
    </form>
</div>
{{/each}}